<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @datum.owner %>
</p>

<p>
  <b>Encrypted data:</b>
  <%= @datum.encrypted_data %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
